<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<p th:if="${name != null}" th:text="'Welcome, ' + ${name} + '!'"></p>
<h2>Welcome to the MCC Bookstore</h2>
<p>Browse our collection of books, school materials, and accessories.</p>
<a href="/register" sec:authorize="hasAnyRole('MNGR','ADMIN')">
    <button>Add New Item</button>
</a>
<a href="/items">
    <button>View Inventory</button>
</a>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
