<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>
<h2>Inventory List</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Manufacturer</th>
        <th>Price</th>
        <th>Type</th>
        <th>Action</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.manufacturer}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.itemType}"></td>
        <td><a th:href="@{/items/{id}(id=${item.id})}">View</a></td>
    </tr>
</table>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
