<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<h2>Inventory List</h2>
<div th:replace="~{fragments/header :: navbar}"></div>

<form method="get" th:action="@{/items}">
    <input type="text" name="search" placeholder="Search by name or manufacturer" />
    <select name="filter">
        <option value="">All Types</option>
        <option th:each="type : ${itemTypes}"
                th:value="${type.name()}"
                th:text="${type.toString()}"></option>
    </select>
    <button type="submit">Search</button>
</form>

<p>Total Items in Inventory: <span th:text="${items.size()}"></span></p>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Manufacturer</th>
        <th>Price</th>
        <th>Type</th>
        <th>Action</th>
    </tr>
    <tr th:each="item : ${items}">
        <td><a th:href="@{/items/{id}(id=${item.id})}" th:text="${item.name}"></a></td>
        <td th:text="${item.manufacturer}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.itemType}"></td>
        <td><a th:href="@{/items/{id}(id=${item.id})}">View</a></td>
        <td sec:authorize="hasAnyRole('ASSOC','MNGR','ADMIN')">
            <a th:href="@{'/items/edit/' + ${item.id}}">Modify</a>
        </td>

        <td sec:authorize="hasAnyRole('MNGR','ADMIN')">
            <a th:href="@{'/items/delete/' + ${item.id}}">Delete</a>
        </td>
    </tr>
</table>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
